In [2]:
import pandas as pd

In [3]:
student_data = pd.read_csv('student_data.csv')

In [4]:
student_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [73]:
student_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [74]:
factors = ['age','Medu', 'Fedu','traveltime', 'studytime','failures','freetime','health', 'absences']

In [75]:
x = student_data[factors]

In [76]:
x.head()

,age,Medu,Fedu,traveltime,studytime,failures,freetime,health,absences
0,18,4,4,2,2,0,3,3,6
1,17,1,1,1,2,0,3,3,4
2,15,1,1,1,2,3,3,3,10
3,15,4,2,1,3,0,2,5,2
4,16,3,3,1,2,0,3,5,4

In [77]:
x.describe()

,age,Medu,Fedu,traveltime,studytime,failures,freetime,health,absences
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.235443,3.554430,5.708861
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.998862,1.390303,8.003096
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,3.000000,3.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,3.000000,4.000000,4.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,4.000000,5.000000,8.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,75.000000

In [78]:
y = student_data.G3

In [79]:
filtered_student_data = student_data.dropna(axis=0)

In [80]:
x = filtered_student_data[factors]

In [81]:
x.describe()

,age,Medu,Fedu,traveltime,studytime,failures,freetime,health,absences
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.235443,3.554430,5.708861
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.998862,1.390303,8.003096
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,3.000000,3.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,3.000000,4.000000,4.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,4.000000,5.000000,8.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,75.000000

In [82]:
y = filtered_student_data.G3

In [83]:
x.head()

,age,Medu,Fedu,traveltime,studytime,failures,freetime,health,absences
0,18,4,4,2,2,0,3,3,6
1,17,1,1,1,2,0,3,3,4
2,15,1,1,1,2,3,3,3,10
3,15,4,2,1,3,0,2,5,2
4,16,3,3,1,2,0,3,5,4

In [84]:
from sklearn.tree import DecisionTreeRegressor

In [85]:
from sklearn.ensemble import RandomForestRegressor

In [86]:
from sklearn.metrics import mean_absolute_error

In [87]:
from sklearn.model_selection import train_test_split

In [88]:
performance_model = DecisionTreeRegressor()

In [89]:
performance_model.fit(x,y)

DecisionTreeRegressor()

In [90]:
predicted_grades = performance_model.predict(x)

In [91]:
print(predicted_grades)

[ 6.   6.  10.  15.  10.  15.  11.   6.  19.  15.   9.  12.  14.  11.
 16.  14.  14.  10.   5.  10.  15.  15.  16.  12.   8.   8.  11.  15.
 11.  11.  12.  17.  16.  12.  15.   6.  18.  15.  11.  13.  11.  12.
 18.  11.   9.   6.  11.  20.  13.5  7.  13.  13.5 10.  11.  13.  10.
 15.  15.  10.  16.  11.  11.   9.   9.  10.  15.  12.   6.   8.  16.
 15.  10.   5.  14.  11.  10.  10.  11.  10.   5.  12.  11.   6.  15.
 10.   8.   6.  14.  10.   7.   8.  18.   6.  10.  14.  10.  15.  10.
 14.   8.   5.  17.  14.   6.  18.  11.   8.  18.  13.  16.  19.  10.
 13.  19.   9.  16.  14.  13.   8.  13.  15.  15.  13.  13.   8.  12.
 11.   9.   0.  18.   0.   0.  12.  11.   0.   0.   0.   0.  12.  15.
  0.   9.  11.  13.   0.  11.   0.  10.   6.  10.   0.  14.  10.   0.
 12.   8.  13.  10.  15.  12.   0.   7.   0.  10.   7.  12.  10.  16.
  0.  14.   0.  16.  10.   0.   9.   9.  11.   6.   9.  11.   8.  12.
 17.   8.  12.  11.  11.  15.   9.  10.  13.   9.   8.  10.  14.  15.
 16.  10.  18.  10.  16.  10.  10.   6.  11.   9.   7.  13.  10.   7.
  8.  13.  14.   8.  10.  15.   4.   8.   8.  10.   6.   0.  17.  13.
 14.   7.  15.  12.   9.  12.  14.  11.   9.  13.   6.  10.  13.  12.
 11.   0.  12.  12.   0.   6.   0.  18.  13.   8.   5.  15.   8.  10.
  8.   8.  12.   8.  13.  11.  14.   0.  18.   8.  12.   9.   0.  17.
 10.  11.  10.   0.   9.  14.  11.  14.  10.  12.   9.   9.   8.  10.
  8.  10.  12.  10.  11.  11.  19.  12.  14.  15.  11.  15.  13.  18.
 14.  11.   0.   8.  14.  16.  11.  10.  14.  18.  13.  12.  18.   8.
 12.  10.   0.  13.  11.  11.  13.  11.   0.   9.  10.  11.  13.   9.
 11.  15.  15.  11.  16.  10.   9.  14.   8.  14.   0.   0.   0.  15.
 13.   0.  17.  10.  11.   0.  15.   0.  10.  14.  16.   9.  15.  13.
  8.  13.   8.   8.  11.   9.  13.  11.  10.  16.  13.  12.  10.  15.
 12.  10.  13.   0.  10.  11.   9.  12.  11.   5.  19.  10.  15.  10.
 15.  10.  14.   7.  10.   0.   5.  10.   6.   0.   8.   0.   9.  16.
  7.  10.   9. ]

In [92]:
mean_absolute_error(y,predicted_grades)

0.0379746835443038

In [93]:
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [94]:
performance_model = DecisionTreeRegressor()

In [95]:
performance_model.fit(train_x,train_y)

DecisionTreeRegressor()

In [96]:
val_predictions = performance_model.predict(val_x)

In [97]:
mean_absolute_error(val_y,val_predictions)

4.651515151515151

In [98]:
rf_model = RandomForestRegressor(random_state=1)

In [99]:
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 1)

In [100]:
rf_model.fit(train_x,train_y)

RandomForestRegressor(random_state=1)

In [101]:
rf_val_predictions = rf_model.predict(val_x)

In [102]:
rf_val_mae = mean_absolute_error(rf_val_predictions,val_y)

In [103]:
print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

Validation MAE for Random Forest Model: 3

In [104]:
rf_model_on_full_data = RandomForestRegressor()

In [105]:
rf_model_on_full_data.fit(x,y)

RandomForestRegressor()

In [106]:
testing_data = pd.read_csv('testing.csv')

In [107]:
testing_x = testing_data[factors]

In [108]:
testing_x.describe()

,age,Medu,Fedu,traveltime,studytime,failures,freetime,health,absences
count,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000
mean,16.716981,2.841509,2.539623,1.411321,2.105660,0.275472,3.233962,3.494340,6.339623
std,1.266966,1.054111,1.062148,0.669028,0.863927,0.648105,0.972139,1.376537,8.946269
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,2.000000,0.000000,3.000000,3.000000,1.000000
50%,17.000000,3.000000,3.000000,1.000000,2.000000,0.000000,3.000000,4.000000,4.000000
75%,18.000000,4.000000,3.000000,2.000000,3.000000,0.000000,4.000000,5.000000,8.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,75.000000

In [109]:
testing_x.head()

,age,Medu,Fedu,traveltime,studytime,failures,freetime,health,absences
0,15,3,4,1,2,0,5,5,0
1,15,4,4,1,2,0,3,2,0
2,15,2,1,3,3,0,2,4,4
3,15,4,4,1,1,0,3,5,2
4,15,4,3,2,2,0,4,3,2

In [110]:
testing_pred = rf_model_on_full_data.predict(testing_x)

In [111]:
testing_y = testing_data.G3

In [112]:
print(testing_y)

0      15
1       9
2      12
3      14
4      11
       ..
260    10
261     0
262     5
263    10
264     6
Name: G3, Length: 265, dtype: int64

In [113]:
print(testing_pred)

[14.19       10.         11.91       14.324      11.695      13.27
 13.49       13.71        9.79        6.71        8.05       11.62666667
 14.48       11.35       11.31       12.96       14.88       14.3
 11.12       13.72        7.74       15.215      13.69       16.679
 11.35        8.91        7.72       10.2        17.13       13.89416667
  8.01       13.13       13.89416667  9.73       10.39       12.83
 10.49       14.23       14.59       10.16966667 15.12833333 11.9
 11.29       14.17       12.63        7.73        9.31       13.52
 12.57       10.          6.6        13.44333333 10.42       10.32
 11.26       10.73        9.13        7.42       12.26       10.93
  7.87666667 13.36       10.19        8.06        8.27       14.08
 10.46        9.49        9.86       17.54        7.32       11.38
 13.09       10.6        13.802      10.29       13.77        8.96
  8.76       15.35       13.934       7.68       16.43       11.28
  9.54       15.51333333 12.24       14.61       17.58        6.32
 11.5        15.83        5.02       11.34       10.28       13.8
  5.09       12.4         1.18       14.31       11.056       1.23
  9.59        9.44       11.05333333  7.68       10.27       11.75
  9.19       12.28       15.22        9.08       11.92       10.55
 11.52333333 13.52        9.32        9.56       11.97        8.95
  9.          9.914      12.07       14.79       14.32       10.42
 13.17       11.8        14.55666667 10.45        9.69        7.77
 11.05        9.77        7.33       12.48       10.49        8.78
 10.06       12.08       12.61        9.12       10.51       14.56
  6.25        8.24        9.15       10.15        7.74       12.12
  3.444       7.01828571  3.21       15.48       11.72        8.26
  6.75       13.46        5.57       10.18        8.99        8.52
 12.08        8.98       12.97       10.79       12.57        3.67
 15.26        9.51       11.27        9.68        2.18       14.86
 10.92333333 10.17       10.33        1.64        8.32       12.98
 10.56       13.22       11.04       11.35        9.98       10.06
  8.33       10.72        9.29        9.94       10.25        9.83
 10.96        9.92       15.35       12.4        15.49       11.41
 11.26       15.18        9.91        8.78       10.21        0.39
 11.7        10.8        11.08       12.23       11.16        2.01
 10.25       10.7        11.12       12.87       10.09       10.99
 13.67       13.11       11.32       14.144      10.8        10.3
 13.06        9.53       12.72        4.11        2.04        4.63
 13.25       11.95        4.17       15.22        9.68       11.06
  1.58       13.24        0.1        10.88       14.27       13.83
 10.08       13.17       12.06        8.56       12.2         8.98
  8.76       11.51        8.52       12.47       11.5         9.8
 16.29       10.45       12.77       11.3        13.17       10.13
 13.47        8.82       10.48        0.49        6.54       10.55
  7.28      ]

In [114]:
mae = mean_absolute_error(testing_pred,testing_y)

In [115]:
print(mae)

1.1535247079964062